
<select name="students" id="students">
{{#each students as |student|}}
<option value="{{student.first_name}} + ' '+{{student.last_name}}">{{student.first_name}} {{student.last_name}}</option>
{{/each}}

</select>


{{!-- drop downs for course and grade --}}




<h4>Enter the name of the student not in the Database</h4>

<form class="name">
  <label for="fname">Student First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Student Last name:</label><br>
  <input type="text" id="lname" name="lname">
  <button class="btn" type="submit">Submit!</button>
</form>


<label for="grades">Choose a grade:</label>

<select name="grades" id="grades">

  <option value="A">A</option>
  <option value="B">B</option>
  <option value="C">C</option>
  <option value="D">D</option>
  <option value="F">F</option>
</select>