main{
    background-color: #373E98;
}

.card-header , .card{
    background-color: #373E98;
    padding: 20px;
}
body{
    background-color: #373E98;
}


.app-title ,h2{
    justify-content:center;
    display: grid;
    place-content: center center;
    font-family: 'Anton';
    font-size: 62px;
    color: white ;
    text-shadow: 21px 21px 10px #2a2a2a;
   
}

h2{
    font-size: 31px;
}

.wrapper{
  display: flex;
  flex-wrap: nowrap;
}

#students{
  display: flex;
}

.card-body{
    
    display: grid;
    place-content: center center;
    
}

.btn{
    padding: 5px 10px;
    font-size: 12x;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #2e2e2e;
    background-color: #fee36e;
    border: none;
    border-radius: 15px;
    
  }
  
  .btn:hover {background-color: #3e8e41}
  
  .btn:active {
    background-color: #fee36e;
    
    transform: translateY(4px);
  }

  h4{
    color:white;
    text-align: center;
    padding-top: 2em;
  }


  .name{
   
    text-align: center;
    line-height: 2em;
    padding-top: 2em;
  }
  label{
    color: white;
    font-size: x-large;
  }

  input{
    background-color: white;
    
  }
  
  #example-table{
    color: white;
    text-align: center;
    margin-left: 12.5%;
  }

  #students{
    color: white;
  }


.marks{
  color: aliceblue;
}
  .delbtn{
    color: white;
    background-color: red;
    margin-right: -10em;
  }

  

  .slist{
    margin-left: 10.85em;
    padding-top: 10em;
    
  }

  @media screen and (max-width: 980px) {
    #example-table{
      max-height: 50%;
      max-width: fit-content;
    }

    .app-title{
      font-size: 3em;
    }
  }

  @media screen and (max-width: 565px) {
    #example-table{
      max-height: 50%;
      max-width: fit-content;
    }

    .app-title{
      font-size: 2em;
    }
  }
 